* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: lightblue;
}

h1 {
  padding: 40px 10%;
  background-color: cornflowerblue;
  border-radius: 1%;
}

p {
  margin: 10px 10%;
  padding: 10px auto;
  text-align: justify;
}

pre {
  margin: 10px 0.05%;
  text-align: justify;
}

a {
  margin: 10px 10%;
  padding: 10px auto;
  text-decoration: none;
  color: darkblue;
}

a:hover {
  color: lightseagreen;
  text-decoration: underline;
  transition: all 1s ease-out;
}

img {
  display: block;
  margin-left: auto;
  padding: 20px;
  margin: 20px;
  background-color: rgba(0, 0, 0, 0.08);
  width: 350px;
  height: 200px;
}

img:hover {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5%;
  transition: all 1s;
}

.conteiner {
  margin: 5px 37.5%;
}

.conteiner-adj{
  margin: 5px 37.5%;
}

.conteiner2{
  display: flex;
  justify-content: space-between;
  margin: 25px 25%;
  padding: 10px;
}

.title-content {
  margin: 10px 10%;
  padding: 10px auto;
  border-bottom: black 2px solid;
}

.title-content-hino {
  margin: 20px 10%;
  padding: 10px auto;
  border-bottom: black 2px solid;
  text-align: center;
}

.nav-link {
  color: black;
  margin: 0;
}

#title-page {
  border-bottom: solid darkblue 2px;
}

#link-menu {
  margin: 0px 2.5%;
  padding-bottom: 25px;
  padding-left: 30px;
}

@media screen and (max-width:920px){
  img{
    width: 250px;
    height: 200px;
  }
  .conteiner-adj{
  margin: 5px 10%;
  }
  .conteiner2{
    display: none;
  }
  .img-bd{
    width: 100%;
    margin: 0px;
    background-color: none;
  }
  .a-responsive{
    font-size: 16px;
  }
}

@media screen and (max-width:440px){
  img{
    width: 200px;
    height: 150px;
  }
  .a-responsive{
    font-size: 12px;
  }
}